.hero {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin-top: 10.25rem;
  margin-bottom: 14.125rem;
}

.hero h1 {
  margin-bottom: 2.25rem;
}

.hero p {
  margin-bottom: 2.5rem;
  max-width: 30ch;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  max-width: 1046px;
  z-index: -1;
}

.hero-img img {
  object-fit: contain;
  transform: translate(15%, -120px);
}

@media (max-width: 1180px) {
  .hero-img img {
    transform: translate(37%, -120px);
  }
}

@media (max-width: 880px) {
  .hero {
    margin-top: 5.5rem;
    margin-bottom: 14.125rem;
  }

  .hero-img img {
    transform: translate(44%, -40px);
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 11.25rem;
  }

  .hero h1,
  .hero p {
    margin-bottom: 1.5rem;
  }

  .hero-img img {
    transform: translate(44%, -20px);
  }
}

@media (max-width: 630px) {
  .hero {
    grid-template-columns:1fr;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .hero p {
    max-width: 100%;
  }

  .hero-img {
  position: initial;
  }
  .hero-img img {
  object-fit: contain;
  transform: none;
}
}
